node_modules
.next
out
build
coverage
.git
.gitignore
.env*
!.env.production
.vercel
Dockerfile
.dockerignore
docker-compose.yml
README.md
LICENSE
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store
*.pem
*.tsbuildinfo
